<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>43_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,560},{275,207}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{275,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,277},{281,207}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{281,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{285,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,277},{281,207}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{281,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{285,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{287,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{281,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{281,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{285,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{281,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{281,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{287,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,207}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{273,131}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,55},{273,131}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
            <key>43_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{259,127}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,61},{259,127}}</string>
                <key>sourceSize</key>
                <string>{287,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_43.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8861e52b04751ef1b69e7fc57d12ad2c$</string>
            <key>textureFileName</key>
            <string>fish_frame_43.png</string>
        </dict>
    </dict>
</plist>
