<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{52,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,22}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{52,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,20}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,20}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,30},{52,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,20}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>2_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>2_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{42,26}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_2.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2619f296b10bd06752143bd59b349dc$</string>
            <key>textureFileName</key>
            <string>fish_frame_2.png</string>
        </dict>
    </dict>
</plist>
