<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>41_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,131},{233,139}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,1},{233,139}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,747},{249,127}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{249,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,235},{259,127}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{259,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,235},{249,127}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{249,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,508},{259,127}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{259,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{271,127}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{271,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{271,127}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{271,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,496},{249,129}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{249,129}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{239,143}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,15},{239,143}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,769},{249,129}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{249,129}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{271,127}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{271,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,127}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{271,127}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,131},{225,149}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,7},{225,149}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{269,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{269,125}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
            <key>41_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{231,157}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{231,157}}</string>
                <key>sourceSize</key>
                <string>{271,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_41.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48c17d07412d815d15268bb17570c401$</string>
            <key>textureFileName</key>
            <string>fish_frame_41.png</string>
        </dict>
    </dict>
</plist>
