<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,220},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{59,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{59,45}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,61},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,65},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,61},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,118},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,277},{59,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{59,45}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,228},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,218},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,171},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,267},{59,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{59,45}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,179},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,169},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,122},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{59,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{59,47}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{59,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{59,51}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,269},{57,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{57,55}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,120},{57,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,59}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{57,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,63}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{57,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{57,63}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{59,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,61}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_10.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9289794415d418a423c31bf78f9bbf6d$</string>
            <key>textureFileName</key>
            <string>fish_frame_10.png</string>
        </dict>
    </dict>
</plist>
