<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,64},{48,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{48,17}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,130},{42,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,62},{54,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{54,23}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{56,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,27}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{62,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{60,25}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,25}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,64},{50,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,101},{42,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,68},{44,31}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,35},{58,31}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,66},{46,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,97},{44,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{58,31}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,31},{54,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,114},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,147},{38,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,99},{42,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,132},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{60,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,35},{58,29}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,29}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c814e79da72e3bc658853f6810152f6f$</string>
            <key>textureFileName</key>
            <string>fish_frame.png</string>
        </dict>
    </dict>
</plist>
