<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,204},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,199},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,76},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,45},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,45},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,140},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,125},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,197},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,162},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,232},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,37}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,125},{62,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{58,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,39},{56,35}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{56,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>4_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{58,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,35}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbb9b996baf106280b577c3417adfebf$</string>
            <key>textureFileName</key>
            <string>fish_frame_4.png</string>
        </dict>
    </dict>
</plist>
