<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanhua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1246},{104,104}}</string>
                <key>offset</key>
                <string>{-99,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,47},{104,104}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{308,514}}</string>
                <key>offset</key>
                <string>{-48,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,108},{308,514}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{320,526}}</string>
                <key>offset</key>
                <string>{-49,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,102},{320,526}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,542}}</string>
                <key>offset</key>
                <string>{-48,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,94},{336,542}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1352},{98,102}}</string>
                <key>offset</key>
                <string>{-41,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,447},{98,102}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1112},{132,134}}</string>
                <key>offset</key>
                <string>{-43,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,431},{132,134}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{244,348}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,229},{244,348}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{266,368}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,219},{266,368}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,316},{290,388}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,209},{290,388}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{312,406}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,200},{312,406}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1538},{160,158}}</string>
                <key>offset</key>
                <string>{81,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,193},{160,158}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1538},{158,156}}</string>
                <key>offset</key>
                <string>{-100,301}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,21},{158,156}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1364},{176,172}}</string>
                <key>offset</key>
                <string>{80,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,187},{176,172}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1174},{192,188}}</string>
                <key>offset</key>
                <string>{-99,300}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{192,188}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1174},{214,204}}</string>
                <key>offset</key>
                <string>{-100,298}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{214,204}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,316},{82,86}}</string>
                <key>offset</key>
                <string>{-120,-299}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,656},{82,86}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,972},{138,138}}</string>
                <key>offset</key>
                <string>{-124,-299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,630},{138,138}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1380},{164,164}}</string>
                <key>offset</key>
                <string>{-126,-299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,617},{164,164}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,608},{272,480}}</string>
                <key>offset</key>
                <string>{-48,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,124},{272,480}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>yanhua_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,882},{290,496}}</string>
                <key>offset</key>
                <string>{-48,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,117},{290,496}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a256cfd0229b1bd50b1a44567c05ec6a$</string>
            <key>textureFileName</key>
            <string>yanhua.png</string>
        </dict>
    </dict>
</plist>
