<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,346},{120,155}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,15},{120,155}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
            <key>scrap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{176,159}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{176,159}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
            <key>scrap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,346},{180,167}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{180,167}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
            <key>scrap04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{202,181}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{202,181}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
            <key>scrap05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,175},{222,169}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{222,169}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
            <key>scrap06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{238,171}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{238,171}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
            <key>scrap07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,175}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{250,175}}</string>
                <key>sourceSize</key>
                <string>{260,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tx_Scrap.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7856c0d256c357388cdb7c6fe817bc73$</string>
            <key>textureFileName</key>
            <string>Tx_Scrap.png</string>
        </dict>
    </dict>
</plist>
