<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TX_xiaochu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{480,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{480,32}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,124},{436,26}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,41},{436,26}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,158},{294,22}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,42},{294,22}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{154,16}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,44},{154,16}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{12,10}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,46},{12,10}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{1,1}}</string>
                <key>offset</key>
                <string>{-239.5,54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{1,1}}</string>
                <key>offset</key>
                <string>{-239.5,54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{1,1}}</string>
                <key>offset</key>
                <string>{-239.5,54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{1,1}}</string>
                <key>offset</key>
                <string>{-239.5,54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{120,36}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,33},{120,36}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{122,88}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,6},{122,88}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{122,88}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,6},{122,88}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,562},{410,64}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{410,64}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,158},{480,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,88}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,444},{480,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,62}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,106},{480,88}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,88}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{480,88}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,88}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,282},{480,82}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{480,82}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,366},{480,76}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,196},{480,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,84}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,158},{480,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,84}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,102}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,102}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{466,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{466,110}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
            <key>TX_xiaochu_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{466,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{466,110}}</string>
                <key>sourceSize</key>
                <string>{480,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TX_xiaochu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:147d58135f47153fc1b44370ed5fb50e$</string>
            <key>textureFileName</key>
            <string>TX_xiaochu.png</string>
        </dict>
    </dict>
</plist>
