<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DragModeBt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,267},{323,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{323,111}}</string>
                <key>sourceSize</key>
                <string>{335,111}</string>
            </dict>
            <key>DragModeBt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{291,103}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{291,103}}</string>
                <key>sourceSize</key>
                <string>{335,111}</string>
            </dict>
            <key>FallDownModeBt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{327,111}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{327,111}}</string>
                <key>sourceSize</key>
                <string>{335,111}</string>
            </dict>
            <key>FallDownModeBt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{295,101}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{295,101}}</string>
                <key>sourceSize</key>
                <string>{335,111}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,315},{47,41}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{47,41}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,267},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,529},{39,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{39,45}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,395},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,570},{27,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{27,45}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>menuItemFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,588},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>menuItemFrame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>meteor.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{134,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,12}}</string>
                <key>sourceSize</key>
                <string>{134,12}</string>
            </dict>
            <key>moreGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,358},{47,35}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{47,35}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>open.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,486},{45,41}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{45,41}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,263}}</string>
                <key>sourceSize</key>
                <string>{480,263}</string>
            </dict>
            <key>体力.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,442},{45,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,42}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainScene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:456d70c843aac2f15dde4d88d7732fe6$</string>
            <key>textureFileName</key>
            <string>MainScene.png</string>
        </dict>
    </dict>
</plist>
