<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,241},{312,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{312,182}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,219},{312,182}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,182}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,243},{310,174}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{310,174}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,724},{306,178}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{306,178}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,713},{302,180}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{302,180}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{304,180}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{304,180}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,540},{306,182}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{306,182}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,363},{309,175}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{309,175}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,444},{293,137}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{293,137}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,859},{253,121}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,58},{253,121}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,904},{219,147}}</string>
                <key>offset</key>
                <string>{-42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,42},{219,147}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,949},{181,145}}</string>
                <key>offset</key>
                <string>{-43,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,38},{181,145}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,183},{310,178}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{310,178}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,532},{207,129}}</string>
                <key>offset</key>
                <string>{-53,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,46},{207,129}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,741},{227,119}}</string>
                <key>offset</key>
                <string>{-39,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,51},{227,119}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,739},{203,129}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,53},{203,129}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,243},{199,141}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,46},{199,141}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1113},{225,155}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,42},{225,155}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,895},{245,177}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,31},{245,177}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,589},{299,191}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,25},{299,191}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{385,215}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,13},{385,215}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{417,237}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{417,237}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,239}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{449,239}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{306,174}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{306,174}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,2},{359,239}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{359,239}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,747},{247,157}}</string>
                <key>offset</key>
                <string>{60,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,43},{247,157}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,782},{203,167}}</string>
                <key>offset</key>
                <string>{66,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,66},{203,167}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,782},{165,149}}</string>
                <key>offset</key>
                <string>{48,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,72},{165,149}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,810},{201,117}}</string>
                <key>offset</key>
                <string>{35,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,50},{201,117}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,241},{213,93}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,75},{213,93}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,363},{195,115}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,77},{195,115}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,944},{195,119}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,74},{195,119}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,589},{219,117}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,69},{219,117}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,2},{255,113}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,63},{255,113}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{302,170}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{302,170}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,243},{287,119}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,58},{287,119}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,560},{297,121}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,56},{297,121}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,578},{303,133}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{303,133}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,425},{305,151}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{305,151}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{311,179}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{311,179}}</string>
                <key>sourceSize</key>
                <string>{461,239}</string>
            </dict>
            <key>50_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{302,168}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{302,168}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,577},{304,168}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{304,168}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{306,168}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{306,168}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,419},{310,168}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{310,168}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
            <key>50_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,403},{310,172}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{310,172}}</string>
                <key>sourceSize</key>
                <string>{312,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_50.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1c5ceb5e9e223761b877dde21d3a13$</string>
            <key>textureFileName</key>
            <string>fish_frame_50.png</string>
        </dict>
    </dict>
</plist>
