<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>36_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{142,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{142,137}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,154},{142,135}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,135}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,127},{144,129}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,154},{142,135}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,135}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,127},{144,129}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,131}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,131}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,123}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,123}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,75},{152,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{152,77}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,71}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{154,71}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,75},{152,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{152,77}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,123}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,123}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>36_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,131}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,131}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_36.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58cae7f207c54dfe368a9c19db41f3a9$</string>
            <key>textureFileName</key>
            <string>fish_frame_36.png</string>
        </dict>
    </dict>
</plist>
