<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{48,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,48},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,48},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,48},{48,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,100},{48,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,48},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,48},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,48},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{44,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,18},{46,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{44,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,18},{46,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,14}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
            <key>1_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{44,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{50,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e09e9990dcae8315b74605edf2f12b2$</string>
            <key>textureFileName</key>
            <string>fish_frame_1.png</string>
        </dict>
    </dict>
</plist>
