<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>37_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{166,109}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{166,109}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,196},{176,101}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{176,101}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{180,101}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{180,101}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{178,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{178,101}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,196},{174,101}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{174,101}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,374},{164,107}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{164,107}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{126,97}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{126,97}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{148,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{148,77}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
            <key>37_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,101},{122,93}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{122,93}}</string>
                <key>sourceSize</key>
                <string>{180,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_37.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a9cd5417f6de821e1a3157ff3cf3ce$</string>
            <key>textureFileName</key>
            <string>fish_frame_37.png</string>
        </dict>
    </dict>
</plist>
