<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>33_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,226},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,230},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{64,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,46}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,448},{62,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{62,52}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,448},{60,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,62},{58,70}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{58,72}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{58,70}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,334},{60,64}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{60,64}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,390},{62,56}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,334},{64,56}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,126},{66,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,270},{64,60}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{64,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{64,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{66,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,64},{66,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,122},{66,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,332},{64,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{64,56}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,270},{62,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{60,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{60,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,72}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,448},{60,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,448},{62,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{62,52}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,186},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,64},{66,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,266},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,198},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>33_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,182},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_33.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf9c4e78a8638b1dc979b3dfc622cc0e$</string>
            <key>textureFileName</key>
            <string>fish_frame_33.png</string>
        </dict>
    </dict>
</plist>
