<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>33_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{174,84}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,19},{174,84}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{174,84}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,17},{174,84}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{176,86}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{176,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,178},{176,84}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,18},{176,84}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,90},{176,86}}</string>
                <key>offset</key>
                <string>{20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,12},{176,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,86}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,9},{176,86}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,88}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{176,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,264},{174,88}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{174,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{174,88}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{174,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{172,88}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{172,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,344},{172,88}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{172,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,168},{174,88}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{174,88}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{164,96}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,6},{164,96}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>33_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,440},{170,76}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,45},{170,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_33.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5bba0c6b9348647e90fffe9ec6be87$</string>
            <key>textureFileName</key>
            <string>fish_frame_33.png</string>
        </dict>
    </dict>
</plist>
