<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>52_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{398,113}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,15},{398,113}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,458},{420,115}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{420,115}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{448,121}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{448,121}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,129}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{436,125}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{436,125}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{420,113}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{420,113}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,424},{408,113}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,12},{408,113}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,402},{400,111}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{400,111}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
            <key>52_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{396,111}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{396,111}}</string>
                <key>sourceSize</key>
                <string>{454,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_52.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b1412c578b33bbdf4b197c9a5c8dc3$</string>
            <key>textureFileName</key>
            <string>fish_frame_52.png</string>
        </dict>
    </dict>
</plist>
