<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>32_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{121,51}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{121,51}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{129,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{129,51}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,125},{123,49}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{123,49}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,133},{129,43}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{129,43}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{131,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{131,43}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{129,37}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{129,37}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{129,41}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{129,41}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{133,47}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{133,47}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>32_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{141,39}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_32.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4adc27833e9e79b6a4a3103349e6fe61$</string>
            <key>textureFileName</key>
            <string>fish_frame_32.png</string>
        </dict>
    </dict>
</plist>
