<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,130},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,184},{74,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{76,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,400},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{76,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,136},{74,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,124},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,76},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,78},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,62},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,122},{74,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{74,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,70},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,64},{74,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{74,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{72,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,190},{72,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{72,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{72,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{72,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8cdd34ab9eff5e2ceefda04ce61bea1$</string>
            <key>textureFileName</key>
            <string>fish_frame_10.png</string>
        </dict>
    </dict>
</plist>
