<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{126,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{126,48}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{128,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{126,44}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,184},{124,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{124,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,50},{120,46}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{120,46}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{118,42}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{118,42}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,278},{118,40}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,40}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,142},{118,40}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,40}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,236},{124,40}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{124,40}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{126,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{126,40}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{128,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{120,46}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{120,46}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>34_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{116,46}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{116,46}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_34.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7078b9c1ba8b4fb3dcfdf7474ab7ffc$</string>
            <key>textureFileName</key>
            <string>fish_frame_34.png</string>
        </dict>
    </dict>
</plist>
