<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{75,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,37}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{75,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,37}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,158},{77,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,39}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{77,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,39}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,81},{75,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{77,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,39}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{77,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,39}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_7.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b0d52cbbf8d2625ca6223307e7c8395$</string>
            <key>textureFileName</key>
            <string>fish_frame_7.png</string>
        </dict>
    </dict>
</plist>
