<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{68,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,27}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,101},{70,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,23}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,35},{70,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,23}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{70,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,23}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,74},{68,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,25}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>3_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{66,19}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{66,19}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>3_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_3.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb3cb249884ba4d02e6e95c557b56835$</string>
            <key>textureFileName</key>
            <string>fish_frame_3.png</string>
        </dict>
    </dict>
</plist>
