<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,142},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{66,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,20}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{68,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,20}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,146},{66,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,72},{68,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,20}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{68,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{70,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{70,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{70,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{70,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{68,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,20}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>1_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>1_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,23}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>1_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>1_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,23}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>1_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:458327bb59417b6e5aad7a4e44bff85b$</string>
            <key>textureFileName</key>
            <string>fish_frame_1.png</string>
        </dict>
    </dict>
</plist>
