<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,54},{120,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{120,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,158},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{120,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{120,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,210},{114,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{114,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,212},{112,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{112,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{114,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{114,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,158},{114,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{114,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,160},{116,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{116,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{120,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{120,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,106},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,108},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,106},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,54},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,56},{118,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,216},{110,50}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{110,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>6_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,266},{92,50}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{92,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6211d885f93b3ee7d2b0a0147b72258c$</string>
            <key>textureFileName</key>
            <string>fish_frame_6.png</string>
        </dict>
    </dict>
</plist>
