<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>41_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,395},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{248,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,526},{248,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{248,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,133},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{250,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_d0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{250,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,129}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,119}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
            <key>41_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,657},{246,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{246,121}}</string>
                <key>sourceSize</key>
                <string>{252,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_41.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c154193123a271eee0f80ac39e0046$</string>
            <key>textureFileName</key>
            <string>fish_frame_41.png</string>
        </dict>
    </dict>
</plist>
