#ignore win8, win8.1, linux
proj.winp8-xaml/
proj.win8.1-universal/
proj.linux/
cocos2d/
bin/

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.opensdf
*.sdf

# Ignore Android SDK, NDK, Eclipse plugin and ANT files
local.properties
proj.android/gen/
proj.android/bin/
proj.android/obj/

StarPay/gen/
StarPay/bin/


# Ignore files build by airplay
build_*_xcode/

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store

# Ignore files built by bada
.Simulator-Debug/
.Target-Debug/
.Target-Release/

# Ignore files built by blackberry
Simulator/
Device-Debug/
Device-Release/
/proj.android/*.properties
*.properties
/proj.android/libs/armeabi/libcocos2dcpp.so
/TowerGame/proj.wp8-xaml
/B/gen
/B_CT/gen
/B_CU/gen
/B_PZ/gen
gen
