cocos2d/
proj.win32/Debug.win32/
proj.win32/Release.win32/
proj.win32/.vs/
proj.linux/
proj.android-studio/
proj.win8.1-universal/
proj.win10/
proj.android/assets
proj.android/obj/
proj.android/bin/
proj.android/gen/
proj.android/libs/armeabi-v7a/gdb.setup
proj.android/libs/armeabi-v7a/gdbserver
bin/
*.db
*.opendb
*.apk
